.form{
    border: 1px solid #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px 20px;
}

.form h2 {
    width: 100%;
}

.form label {
    width: 15%;
}

.form input {
    width: 70%;
    margin-bottom: 20px;
}

.form input[type="submit"]{
    width:auto;
}